
@model Asqri.ViewModels.TeacherViewModel
@{
    ViewBag.Title = "RegisterTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateTeacher", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Teacher.Id)

    <div class="Register">
        <div class="row">
            <div class="col-lg-12">
                <h2> ثبت نام مدرسین </h2>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(model => model.Teacher.Fname)

                @Html.TextBoxFor(model => model.Teacher.Fname, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Fname)
            </div>
            <div class="col-lg-6">

                @Html.LabelFor(model => model.Teacher.Lname)

                @Html.TextBoxFor(model => model.Teacher.Lname, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Lname)


            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                @Html.LabelFor(model => model.Teacher.Username)

                @Html.TextBoxFor(model => model.Teacher.Username, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Username)
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(model => model.User.Password)

                @Html.PasswordFor(model => model.User.Password, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.User.Password)

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(model => model.User.ConfirmPassword)

                @Html.TextBoxFor(model => model.User.ConfirmPassword, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.User.ConfirmPassword)
            </div>
            <div class="col-lg-6">

                @Html.LabelFor(model => model.Teacher.Email)

                @Html.TextBoxFor(model => model.Teacher.Email, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Email)

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                @Html.LabelFor(model => model.Teacher.Mobile)

                @Html.TextBoxFor(model => model.Teacher.Mobile, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Mobile)

            </div>
            <div class="col-lg-6">

                @Html.LabelFor(model => model.Teacher.Tlegram)

                @Html.TextBoxFor(model => model.Teacher.Tlegram, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Tlegram)

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(model => model.Teacher.Intresting)

                @Html.TextAreaFor(model => model.Teacher.Intresting, new { style = "width: 100%;" })

                @Html.ValidationMessageFor(model => model.Teacher.Intresting)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">

                @Html.LabelFor(model => model.Teacher.Gender)
            </div>
            <div class="col-lg-2">
                @Html.RadioButton("Teacher.Gender", "مرد")
                <span>مرد</span>
            </div>
            <div class="col-lg-8">
                @Html.RadioButton("Teacher.Gender", "زن")
                <span>زن</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <label class="control-label" for="inputEmail">تصویر 3*4  </label>
             
                @Html.Upload("UploadImage")
                @Html.ImageFor(model => model.Teacher.Image, new { width = "80" }, "Tulips.jpg", "File", "UploadImages")
                @Html.HiddenFor(model => model.Teacher.Image)
            </div>

            <div class="col-lg-6">

                <label class="control-label" for="inputEmail">تصویر کارت ملی </label>

                @Html.Upload("UploadImage2")
                @Html.ImageFor(model => model.Teacher.NationalImage, new { width = "80" }, "Tulips.jpg", "File", "UploadImages")
                @Html.HiddenFor(model => model.Teacher.NationalImage)
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">

                <label class="control-label" for="inputEmail">تصویر مدرک تحصیلی </label>

                @Html.Upload("UploadImage3")
                @Html.ImageFor(model => model.Teacher.DegreeImage, new { width = "80" }, "Tulips.jpg", "File", "UploadImages")
                @Html.HiddenFor(model => model.Teacher.DegreeImage)

            </div>
            <div class="col-lg-6">

                <label class="control-label" for="inputEmail">رزومه کاری </label>

                @Html.Upload("UploadImage4")
                @Html.ImageFor(model => model.Teacher.RozomeImage, new { width = "80" }, "Tulips.jpg", "File", "UploadImages")
                @Html.HiddenFor(model => model.Teacher.RozomeImage)

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <input type="submit" value="ویرایش" />

            </div>

        </div>
    </div>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/AjaxForm/jquery.form.min.js")"></script>


    <script>

        $("#myUploadForm").ajaxForm();
    </script>
}

